<html>
  <head>
    <title>乗り換え検索</title>
  </head>
  <body>
    <form>
        <p>
          出発：
          <label>
            <select name=fromsta>
              {{range .Network}}
                {{range .Stations}}
                <option value="{{.}}">{{.}}</option>
                {{end}}
              {{end}}
            </select>
        </label>駅から
        </p>
        <p>
          到着：
          <label>
            <select name=tosta>
              {{range .Network}}
                {{range .Stations}}
                <option value="{{.}}">{{.}}</option>
                {{end}}
              {{end}}
            </select>
          </label>駅まで
        </p>
        <input type="submit" value="検索">
    </form>
    <p>検索結果</p>
    {{.From}} → {{.To}}
  </body>
</html>
