<html>
  <head>
    <title>乗り換え検索</title>
    <link rel="stylesheet" type="text/css" href="./static/pata.css">
  </head>
  <body>
    <div class="container">
        <h1>乗り換え案内</h1>
        <form>
            <h4>出発</h4> 
              <label>
                <select name=fromsta>
                  <option value="">-- 選択してください --</option>
                  {{range .Network}}
                    {{range .Stations}}
                    <option value="{{.}}">{{.}}</option>
                    {{end}}
                  {{end}}
                </select>
            </label>駅から<br>
            <h4>到着</h4>
              <label>
                <select name=tosta>
                  <option value="">-- 選択してください --</option>
                  {{range .Network}}
                    {{range .Stations}}
                    <option value="{{.}}">{{.}}</option>
                    {{end}}
                  {{end}}
                </select>
              </label>駅まで<br><br>
            <input type="submit" value="検索">
        </form><br>
        <h4>{{.From}}駅 から {{.To}}駅 までのルート</h4>
        <ol>
          <!-- 仮 -->
          {{range .Route}}
          {{if or (eq . "新宿") (eq . "新大久保") (eq . "高田馬場") (eq . "目白") (eq . "大塚") (eq . "池袋") (eq . "巣鴨") (eq . "西日暮里") (eq . "日暮里") (eq . "鶯谷") (eq . "上野") (eq . "御徒町") (eq . "秋葉原") (eq . "神田") (eq . "東京") (eq . "有楽町") (eq . "新橋")}}
            <li class="green">{{.}}</li>
          {{else if or (eq . "浜松町") (eq . "田町") (eq . "品川") (eq . "大崎") (eq . "五反田") (eq . "目黒") (eq . "恵比寿") (eq . "渋谷") (eq . "原宿") (eq . "代々木")}}
            <li class="green">{{.}}</li>
          {{else if eq . "駒越"}}
            <li class="green">駒込</li>
          {{else if eq . "田端駅"}}
            <li class="green">田端</li>
          {{else if or (eq . "代官山") (eq . "中目黒") (eq . "祐天寺") (eq . "学芸大学") (eq . "都立大学") (eq . "自由が丘") (eq . "多摩川") (eq . "横浜") (eq . "反町") (eq . "東白楽") (eq . "白楽") (eq . "妙蓮寺") (eq . "菊名") (eq . "大倉山") (eq . "綱島")}}
           <li class="red">{{.}}</li>
          {{else if or (eq . "日吉") (eq . "元住吉") (eq . "武蔵小杉") (eq . "新丸子") (eq . "田園調布") (eq . "多摩川") (eq . "奥沢") (eq . "大岡山") (eq . "洗足") (eq . "西小山") (eq . "武蔵小山") (eq . "不動前")}}
            <li class="cyan">{{.}}</li>
          {{else if or (eq . "洗足池") (eq . "長原") (eq . "旗の台") (eq . "荏原中延") (eq . "戸越銀座") (eq . "大崎広小路") (eq . "五反田") (eq . "蒲田") (eq . "蓮沼") (eq . "池上") (eq . "千鳥町") (eq . "久が原") (eq . "御嶽山") (eq . "雪が谷大塚") (eq . "石川台")}}
            <li class="pink">{{.}}</li>
          {{else if or (eq . "多摩川") (eq . "沼部") (eq . "鵜の木") (eq . "下丸子") (eq . "武蔵新田") (eq . "矢口渡") (eq . "蒲田")}}
            <li class="purple">{{.}}</li>
          {{else if or (eq . "二子玉川") (eq . "上野毛") (eq . "等々力") (eq . "尾山台") (eq . "九品仏") (eq . "自由が丘") (eq . "緑が丘") (eq . "大岡山") (eq . "北千束") (eq . "旗の台") (eq . "荏原町") (eq . "中延") (eq . "戸越公園") (eq . "下神明") (eq . "大井町")}}
            <li class="orange">{{.}}</li>
          {{else if or (eq . "中目黒") (eq . "恵比寿") (eq . "広尾") (eq . "六本木") (eq . "神谷町") (eq . "霞ケ関") (eq . "日比谷") (eq . "銀座") (eq . "東銀座") (eq . "築地") (eq . "八丁堀") (eq . "茅場町") (eq . "人形町") (eq . "小伝馬町") (eq . "秋葉原") (eq . "仲御徒町") (eq . "上野") (eq . "入谷") (eq . "三ノ輪") (eq . "南千住") (eq . "北千住")}}
            <li class="silver">{{.}}</li>
          {{else}}
            <li>{{.}}</li>
          {{end}}
          {{end}}
        </ol>
    </div>
  </body>
</html>
